* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

html, body {
    height: 100%;
}

:root {
    --header-height: 75px;
    --footer-height: 75px;
}

.page-container {
    position: relative;
    min-height: 100vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

.content-container {
    background-color: transparent;
    padding-bottom: var(--footer-height);
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* ---- HEADER ---- */
header {
    height: var(--header-height);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;

    background: rgb(34,34,34);
    background: linear-gradient(180deg, rgba(34,34,34,1) 0%, rgba(9,9,9,1) 100%);
}

header nav {
    height: 100%;
    width: 75%;
    margin: 0 auto;

    display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
}

header ul {
    height: auto;
    width: 30%;
    margin-left: 5%;
    margin-right: auto;
    align-self: flex-end;

    display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;

    list-style: none;
}

header li a {
    color: black;
    position: relative;
    bottom: 5px;
    font-size: larger;
    text-decoration: none;
    padding: 10px 10px 5px 10px;
    margin-bottom: 5px;
    margin-right: 5px;
    border-radius: 7px 7px 0 0;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, .25),
                0 -1px 0 #ffffff;
    background-color: whitesmoke;
}

header a {
    color: white;
}

header ul ~ a {
    align-self: flex-start;
    font-size: smaller;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    padding: 8px 15px;
    margin-top: 5px;
}

.signUpBtn {
    margin-left: 5px;
    border-radius: 5px;
    background-color: #df0000;
}

.logoAndName {
    display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;

    text-decoration: none;
}

.mainLogo {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

.logoAndName p {
    font-size: 25px;
    font-weight: 700;
    color: white;
}

/* ---- MAIN ---- */
main {
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;

    background-color: #007400;
    background-image: url("../img/background.png");
    background-attachment: fixed;
}

.mainWrapper {
    width: 90%;
    margin: 0 auto;
    background-color: whitesmoke;
    border-left: 10px hsla(0, 0%, 100%, .5) solid;
    border-right: 10px hsla(0, 0%, 100%, .5) solid;
    background-clip: padding-box;
    flex: 1;
}

h1 {
    margin-top: var(--header-height);
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
}

/* Sections */
section {
    display: flex;
        flex-flow: wrap column;
        justify-content: flex-start;
        align-items: flex-start;
}

h2 {
    text-decoration: underline;
    margin-left: 30px;
    margin-bottom: 15px;
}

.articleWrapper {
    width: 100%;

    display: flex;
        flex-flow: nowrap row;
        justify-content: space-evenly;
        align-items: flex-start;
}

.Bet {
    width: 47%;
    height: 250px;
    position: relative;
    padding: 10px;

    display: flex;
        flex-flow: nowrap column;
        justify-content: space-between;
        align-items: flex-start;

    background-color: #8080803f;
    border-radius: 15px;
    border: 2px darkslategrey groove;
}

.FollowCounter {
    position: absolute;
        top: 10px;
        right: 10px;
    
    display: flex;
        flex-flow: nowrap row;
        justify-content: flex-end;
        align-items: center;
}

.bookmark {
    height: 35px;
    width: auto;
    margin-right: 5px;
}

.bookmark .fill {
    fill: transparent;
}

.bookmark .stroke {
    fill: black;
}

.answerBtnWrapper {
    height: 80%;
    width: 100%;

    display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;
}

.AnswerBtn {
    height: 100%;
    width: 48%;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    background-color: rgba(0, 128, 0, 0.2);
    border-radius: 5px;
    text-decoration: none;
    color: black;
    text-align: center;
}

.SeeMoreBtn {
    align-self: flex-end;
    margin-top: 10px;
    margin-right: 10px;
}

.Sondage {
    width: 90%;
    height: 400px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
}

table {
    width: 90%;
    margin: 20px auto;
    box-sizing: border-box;
}

table tr:nth-of-type(2) {
    background-color: rgb(255, 215, 0, 0.4);
}

table tr:nth-of-type(3) {
    background-color: rgb(169, 169, 169, 0.4);
}

table tr:nth-of-type(4) {
    background-color: rgb(205, 127, 50, 0.4);
}

table img {
    height: 100px;
    width: auto;
}

th, td {
    padding: 10px;
}

th {
    height: 30px;
    background-color: rgba(0, 128, 0, 0.4);
    color: white;
    font-weight: bolder;
    font-size: larger;
}

th:first-child, td:first-child, th:nth-child(2), td:nth-child(2) {
    width: 50px;
}

/* ---- FOOTER ---- */
footer {
    background-color: #000e00;
    width: 100%;
    height: var(--footer-height);

    position: absolute;
    bottom: 0;
}

footer nav {
    height: 100%;
    width: 50%;
    margin: 0 auto;
}

footer ul {
    height: 100%;
    width: 100%;

    display: flex;
        flex-flow: nowrap row;
        justify-content: space-between;
        align-items: center;
}

footer li {
    list-style: none;
    display: flex;
        justify-content: center;
        align-items: center;
}

footer a {
    padding: 15px;
    text-align: center;
    vertical-align: center;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 10px;
    color: white;
    text-decoration: none;
}

